/* FONTS */

@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/futuralt_book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura LT';
  src: url('../fonts/futuralt_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue_thin-webfont.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helveticaneue_blackcond-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
