@import "main";

#hero {
  height: 990px;
  background-color: #000;
  // overflow: hidden;

  #slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slider__control {
    position: absolute;
    z-index: 2;
  }

  button {
    cursor: pointer;
    outline: none;
  }

  #left-arrow {
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    &:hover {
      left: 42px;
    }
  }
  #right-arrow {
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    &:hover {
      right: 42px;
    }
  }
  #scroll-arrow {
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;
    &:hover {
      bottom: 42px;
    }
  }

  #slider .slides {
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .slides .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    width: 100%;
    &:nth-child(n+2) {
      opacity: 0;
    }
    transition: 1s ease-out;
    img {
      object-fit: cover;
      height: 100%;
      width: auto;
    }
  }

  .slide .slide__description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 45px;
  }
}

@media screen and (max-width: 1024px) {
  #left-arrow img {
    height: 40px;
    width: auto;
  }
  #right-arrow img {
    height: 40px;
    width: auto;
  }
  #scroll-arrow {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #hero {
    height: 100vh;
  }
  .slides .slide img {
    min-width: 100vw;
    height: 100vh !important;
  }
  #left-arrow, #right-arrow, #scroll-arrow {
    display: none;
  }
}
